
# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET = 'secret-string'

# Mongo DB
# Local development
MONGODB_URI = 'mongodb://localhost/test'

# Port
PORT=8081